@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html>
<head>
    <title>OverCodex</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: "Raleway", sans-serif
        }

        body, html {
            height: 100%;
            line-height: 1.8;
        }

        /* Full height image header */
        .bgimg-1 {
            background-position: center;
            background-size: cover;
            background-image: url("/images/mac.jpg");
            min-height: 100%;
        }

        .w3-bar .w3-button {
            padding: 16px;
        }

        figure {
            text-align: center;
            margin: 0;
            background-color: black; /* Figürün arka plan rengi beyaz */
            padding: 10px; /* İsteğe bağlı: Metni biraz kenarlardan ayırır */
            height: 500px; /* Yükseklik 100 piksel */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* İsteğe bağlı: Hafif bir gölgelendirme ekler */
            display: flex;
            flex-direction: column;
            align-items: center;
            color: honeydew;
            justify-content: center;
        }

            figure:hover {
                opacity: 0.85;
                cursor: pointer;
            }

        .ocxservices {
            position: relative;
            overflow: hidden;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.8);
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: opacity 0.3s;
        }

        .ocxservices:hover .overlay {
            opacity: 1;
        }

        .overlay-content {
            text-align: center;
        }
    </style>
</head>
<body>
    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar w3-white w3-card d-flex align-items-center" id="myNavbar" style="vertical-align:central">
            <!-- Left-sided logo -->
            <!-- Left-sided logo -->
            <span style="vertical-align: middle; display: inline-block; float: left;">
                <a href="#home" class="w3-bar-item w3-button w3-wide"><img width="50" src="/images/logo-light.jpeg"></a>
            </span>


            <!-- Right-sided navbar links -->
            <div class="d-flex align-items-center col-11  justify-content-end">
                <span style="vertical-align: middle; display: inline-block;">
                    <a href="#about" class="w3-bar-item w3-button">HAKKIMIZDA</a>
                    <a href="#carrier" class="w3-bar-item w3-button"><i class="fa fa-th"></i> HIZMETLER</a>
                    <a href="#work" class="w3-bar-item w3-button"><i class="fa fa-th"></i> KARIYER</a>
                    <!-- <a href="#pricing" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> PRICING</a> -->
                    <a href="#products" class="w3-bar-item w3-button"><i class="fa fa-shopping-cart"></i> URUNLER</a>
                    <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
                </span>
            </div>


            <!-- Hide right-floated links on small screens and replace them with a menu icon -->
            <span style="vertical-align: middle; display: inline-block;">
                <a href="javascript:void(0)" class="w3-bar-item w3-button w3-hide-large w3-hide-medium" onclick="w3_open()">
                    <i class="fa fa-bars"></i>
                </a>
            </span>
        </div>
    </div>

    <!-- Sidebar on small screens when clicking the menu icon -->
    <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
        <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">HAKKIMIZDA</a>
        <a href="#carrier" class="w3-bar-item w3-button"><i class="fa fa-th"></i> KARIYER</a>
        <a href="#work" onclick="w3_close()" class="w3-bar-item w3-button">HIZMETLER</a>
        <a href="#products" onclick="w3_close()" class="w3-bar-item w3-button">URUNLER</a>
        @* <a href="#pricing" onclick="w3_close()" class="w3-bar-item w3-button">PRICING</a> *@
        <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
    </nav>

    <!-- Header with full-height image -->
    <header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
        <div class="w3-display-left w3-text-white" style="padding:48px">
            <span class="w3-jumbo w3-hide-small">Start something that matters</span><br>
            <span class="w3-xxlarge w3-hide-large w3-hide-medium">Start something that matters</span><br>
            <span class="w3-large">Stop wasting valuable time with projects that just isn't you.</span>
            <p><a href="#about" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Learn more and start today</a></p>
        </div>
        <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div>
    </header>

    <!-- About Section -->
    <div class="w3-container" style="    padding: 128px 16px;
    background-image: url(/images/logo-light.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;" id="about">
        <h1 class="w3-center">HAKKIMIZDA</h1>
        @* <p class="w3-center w3-large">Key features of our company</p> *@
        <div class="w3-row-padding w3-center" style="margin-top:64px; display:flex ; justify-content:space-between">
            <div class="w3-quarter">
                <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
                <p class="w3-large " style="font-weight:600">Dijital Dönüşüm Ortağınız </p>
                <p>
                    Dijital dünya her geçen gün daha da hayatımıza yerleşirken markaların ve bireylerin bu yeni dünyada yer bulması oldukça önemli hale geliyor. Overcodex olarak bu noktada müşterilerimizin dijital evrene rahatlıkla uyum sağlamalarını amaç ediniyor, markalara ve bireysel ihtiyaçlara yönelik kreatif ve etkili çözümler üretiyoruz.
                    Nitelikli ve yaratıcı tasarımların önemini bilen yenilikçi yazılım ve tasarım ekibimizle birlikte tecrübelerimizi çalışmalarımıza yansıtıyor, her projede bir adım daha ileri gitmeyi hedefliyoruz. Tüm projelerimize hatasız kodlama ve yazılım standartlarına uygun bir bakış açısıyla yaklaşıyoruz.
                </p>
            </div>
            <div class="w3-quarter">
                <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
                <p class="w3-large" style="font-weight:600">
                    Fikirlerinizi ve İhtiyaçlarınızı Yazılım Harikalarına Dönüştüyoruz.
                </p>
                <p> Dijital ortamda projelerini ön plana çıkarabilmek isteyen markalar ya da kişisel girişimler için web tasarımı, yazılım çözümleri, mobil uygulama geliştirme, dijital pazarlama ve SEO gibi tüm dijital talepler doğrultusunda özgün ve kullanıcı odaklı çözümler geliştiriyoruz. Teknolojiyi yakından takip ve analiz eden ekibimizle birlikte ihtiyaçlarınızın doğru tespitini yaparak sizin için en uygun çözümü üretiyor ve uyguluyoruz</p>
            </div>
            <div class="w3-quarter">
                <i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
                <p class="w3-large" style="font-weight:600">
                    İlkeli, Duyarlı, Güvenilir, Yenilikçi ve Rekabetçi
                </p>
                <p>
                    Hem müşterilerimiz hem de ekibimiz için dinamik, verimli ve şeffaf bir yapıyla sürdürülebilir bir çalışma şeklini benimsiyoruz. Doğru bir organizasyon yapısıyla hareket ederek hayatı kolaylaştıran ve değer yaratan çözümlerle dijital dönüşüm süreçlerinizi profesyonel bir yaklaşımla sürdürüyoruz.
                </p>
            </div>

        </div>
    </div>
    
    <!-- About Section -->
    <div class="w3-container" style="padding:128px 16px" id="carrier">
        <h1 class="w3-center">KARIYER</h1>
        @* <p class="w3-center w3-large">Key features of our company</p> *@
        <div class="w3-row-padding w3-center" style="margin-top:64px; display:flex ; justify-content:space-between">
            <div class="w3-quarter">
              
                <p class="w3-large " style="font-weight:600">
                   Ekibimize Katıl!
                </p>
                 
                <p>
                    Kariyerinizi büyütmek için heyecan verici bir fırsat arayan yetenekli bir yazılım geliştiricisi veya dijital pazarlama uzmanı mısınız? Overcodex olarak her zaman ekibimize katılacak yetenekli profesyoneller arıyoruz. Yaratıcılığa ve yeniliğe değer veren işbirlikçi bir çalışma kültürü sunuyoruz.
                    Overcodex, çeşitli projeler üzerinde çalışma imkanı bulacağınız ve sektörün en iyi profesyonellerinden öğrenme fırsatına sahip olacağınız dinamik ve şeffaf bir çalışma ortamı sunar. Yazılım geliştirme ve dijital pazarlama konusunda tutkulu olan ve kendini müşterilerimizin başarılı olmasına yardımcı olmaya adamış bir ekibin parçası olmaktan heyecan duyuyorsan bizimle iletişime geç!
                </p>
            </div>
            

        </div>
    </div>

    <!-- Promo Section - "We know design" -->
    <div class="w3-container w3-light-grey" style="padding:128px 16px">
        <h1 class="w3-center">HİZMET VE ÇÖZÜMLER</h1>

        <div class="w3-row-padding">
            <div class="w3-col m6">
                <h3>Teknoloji Gelistiriyoruz.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore.</p>
                <p><a href="#work" class="w3-button w3-black"><i class="fa fa-th"> </i> Hizmetlerimiz</a></p>
            </div>

        </div>
        <div class="w3-row-padding" style="display: flex;
    flex-wrap: wrap;
    justify-content: center;">

            <div class="w3-col m6"  >
               
                <figure class="ocxservices">
                    <h3 class="svctitle">
                        WEB YAZILIMLARI
                    </h3>
                    <div class="overlay" style="color:black ">
                        <div class="overlay-content">
                            <h5>
                                <b>Son Teknolojiyi Kullanarak Kullanıcı Dostu Dijital Deneyimler Sunuyoruz</b>
                            </h5>  <br />
                            <p>
                                Tüketicilerin çevrimiçi olarak her türlü bilgi, hizmet ve ürüne ulaştığı bu teknoloji tabanlı çağda, web siteleri ticari pazarlamanın en önemli bileşeni haline geldi. Bu son derece rekabetçi dünyada, sahip olabileceğiniz en büyük güç, benzersizlik. İhtiyaçlarınızı karşılamak ve ziyaretçileriniz için sorunsuz bir kullanıcı deneyimi oluşturmak için sitenizi tüm yönleriyle özelleştiriyoruz. Sadece güzel değil, aynı zamanda kullanıcı dostu, uyumlu ve arama motorları, mobil ve masaüstü için optimize edilmiş web siteleri oluşturuyoruz. İster basit bir bilgilendirici web sitesi, ister eksiksiz bir e-ticaret sitesi olsun, her işimizde kanıtlanmış web sitesi tasarım stratejilerini kullanıyoruz.
                                Harika bir websitesinin, güzel bir vitrinden çok daha fazlası olduğuna inanıyoruz. Web uygulamaları, satışları artırmak, müşterilerle etkileşim kurmak veya markanın mesajını iletmek konusunda, işletmelerin hedeflerine ulaşmalarına yardımcı olan stratejik araçlardır. Bu anlayıştan yola çıkarak, konsept aşamasından lansman sürecine ve ötesine kadar eksiksiz bir yelpazede web uygulama çözümleri sunuyoruz.
                                Müşteri deneyiminizi dönüştürmeyi, dijital stratejinizi geliştirmeyi veya yeni büyümeler kaydetmeyi hedefliyorsanız, doğru yerdesiniz. Bu dünyanın tüm karmaşık yönlerine hakim olan, kapsamlı deneyime ve bilgiye sahip ekibimizle web uygulamaları geliştirme sürecine sizinle birlikte yol alıyor, sağlam mimarisi aracılığıyla mükemmel bir deneyim sunan, temiz, akılcı ve ilgi çekici web uygulamaları tasarlıyoruz.
                            </p>

                        </div>
                    </div>
                </figure>
            </div>
            <div class="w3-col m6  ">
                @* <img class="w3-image w3-round-large" src="/images/phone_buildings.jpg" alt="Buildings" width="700" height="394"> *@
                <figure class="ocxservices">
                    <h3 class="svctitle">
                        MOBİL YAZILIMLAR
                    </h3>
                    <div class="overlay">
                        <div class="overlay-content" style="color:black ">
                            <h5><b>Hedef Kitlenize Her Yerden Ulaşın</b></h5> <br />
                            <p>
                                Günümüzde kullanıcılar mobil cihazlar aracılığıyla giderek daha fazla içerik tüketme eğilimi gösteriyor. Geniş bir havuzda dikkat çekmek için yarışan bu kadar çok uygulama varken kullanıcılarınızın günlük yaşamlarının bir parçası haline gelen ilgi çekici deneyimler tasarlayıp sunarak uygulamanızın öne çıkmasına yardımcı oluyoruz.
                                Mobil uygulamanız, masaüstü sitenizin yalnızca küçük bir versiyonundan çok daha fazlasıdır. Mobil uygulamalar, küçük bir alanda çok şey iletmek zorundadır. Uzmanlığımızla, markanızın ilgi çekici, sonuç odaklı bir mobil varlığa sahip olmasına yardımcı oluyoruz. İşletmeniz, ait olduğunuz sektör ve hedef kitleniz hakkında fikir edinmek için araştırmalar yapıyor, esnekliğe ve kullanıcı dostu olmaya odaklanan efektif uygulamalar tasarlıyoruz.
                                Mobil pazarlamanın benzersiz talepleri ve zorluklarını aşmanıza yardımcı olmak için buradayız. Her zaman ilgi çekici deneyimler arayan kullanıcılar için alışkanlıklar oluşturmak ve markanızla kurdukları bağı sürdürmek için kullanıcı dostu, uyumlu ve hem iOS hem de Android için optimize edilmiş uygulama çözümleri sunuyoruz. Son teknolojileri ve tasarım trendlerini kullanarak eksiksiz bir mobil uygulama tasarım hizmetleri yelpazesi sunarken sürdürülebilir destek ve bakım hizmetlerimizle uygulamanızın güncel kalmasını ve en iyi performansı göstermesini sağlıyoruz.

                            </p>
                        </div>
                    </div>
                </figure>
            </div>
 
            <div class="w3-col m6  my-3">
                @* <img class="w3-image w3-round-large" src="/images/phone_buildings.jpg" alt="Buildings" width="700" height="394"> *@
                <figure class="ocxservices">
                    <h3 class="svctitle">
                        MOBİL OYUN
                    </h3>
                    <div class="overlay" style="color:black ">
                        <div class="overlay-content">
                            <h5>
                                <b>
                                    Benzersiz Deneyimler Tasarlıyoruz
                                </b>
                            </h5>  <br />
                            <p>
                                Markanız, ürününüz ya da hizmetinizle ilgili iOS ve Android platformları için oyunlar geliştirmek istiyorsanız doğru yerdesiniz. Son teknolojileri ve tasarım trendlerini kullanarak eğlenceli, bağımlılık yaratan, görsel olarak çarpıcı ve hem iOS hem de Android için optimize edilmiş yüksek performanslı mobil oyunlar geliştiriyoruz.
                                Deneyimli oyun tasarımcıları ve geliştiricilerinden oluşan ekibimizle, benzersiz vizyonunuzu anlamak ve oyun fikirlerinizi gerçeğe dönüştürmek için sizinle yakın bir şekilde çalışıyor, oyunlaştırılmış deneyimler ve çığır açan kullanıcı etkileşimi ile iş ürünleri oluşturmamıza yardımcı oluyoruz.
                                Sürdürülebilir inovasyonun başarılı ürünler yaratmanın anahtarı olduğunu biliyoruz ve bu yüzden konsept çizimden bitmiş ürüne kadar oyununuzu tasarlamanıza ve geliştirmenize yardımcı olacak çok çeşitli mobil oyun geliştirme çözümlerini uyguluyoruz. Devam eden destek ve bakım hizmetlerimizle oyununuzun güncel kalmasını ve en iyi performansı göstermesini sağlıyoruz.
                            </p>

                        </div>
                    </div>
                </figure>
            </div>
            <div class="w3-col m6  my-3 ">
                @* <img class="w3-image w3-round-large" src="/images/phone_buildings.jpg" alt="Buildings" width="700" height="394"> *@
                <figure class="ocxservices">
                    <h3 class="svctitle">
                        ÖZEL YAZILIM ÇÖZÜMLERİ
                    </h3>
                    <div class="overlay">
                        <div class="overlay-content" style="color:black ">
                            <h5><b>İhtiyaçlarınıza Göre Uyarlanmış Yenilikçi Yazılım Çözümleri</b></h5> <br />
                            <p>
                                İhtiyaç ve gereksinimlerinize göre tasarlanmış, üzerinde çalıştığımız her projenin benzersiz olmasını sağlayan özel yazılım çözümleri sunuyoruz. Kullanıcıların etkileşime girdiği front-end kanadından karmaşık kodlardan oluşan back-end programlamaya kadar, kullanıcı dostu, özelleştirilmiş yazılım hizmetleri için buradayız.
                                Markanıza, ürününüze ya da hizmetlerinize özel çözümler geliştirmek, gelişmiş verimlilik ve ürün ölçeklenebilirliği sağlar. Mevcut yazılım çözümleri standartlaştırılmış ihtiyaçlara uygun olabilir ancak öte yandan özelleştirilmiş çözümler firmanızı farklı bir boyuta taşıyacak ve performansınızı artıracaktır.
                                Özel yazılım geliştirme konusunda, mükemmel müşteri deneyimi sağlamak için uygulama özelleştirme, uygulama geri yükleme, uygulama yönetimi, teknik destek ve çok daha fazlası için yanınızdayız.
                                 
                            </p>
                        </div>
                    </div>
                </figure>
            </div>
 
            <div class="w3-col m6  my-3">
                @* <img class="w3-image w3-round-large" src="/images/phone_buildings.jpg" alt="Buildings" width="700" height="394"> *@
                <figure class="ocxservices">
                    <h3 class="svctitle">
                        E-TİCARET UYGULAMALARI

                    </h3>
                    <div class="overlay" style="color:black ">
                        <div class="overlay-content">
                            <h5>
                                <b>
                                    Hedeflediğiniz Büyümeyi Yakalayın
                                </b>
                            </h5>  <br />
                            <p>
                                Müşterileriniz sepetlerini terk mi ediyor? Envanterinizin tozlanmaya başladığını mı düşünüyorsunuz? Piyasada birçok e-ticaret sitesi var. Kötü tasarlanmış bir mağaza kalabalığın arasından sıyrılamaz ve şirketinizin itibarına zarar verebilir. Öte yandan şık ve güçlü bir çevrimiçi mağaza, satış yapmanıza yardımcı olur.
                                Markanızla bütünleşen bir e-ticaret uygulaması, tutarlı bir görünüm, his ve üslupla ziyaretçileriniz arasında güven oluşturur ve bu da direkt olarak satış grafiğinize yansır. Herhangi bir e-ticaret uygulaması tasarımının ilk adımı, mevcut sonuçlarınızı değerlendirmek ve satışlarınızı artırmak için bir eylem planı yapmaktır. Pazarlama ve web uzmanlığımızdan yararlanarak bu yol haritasını geliştirmenize yardımcı olmak için buradayız.
                                Deneyimli tasarımcılardan ve geliştiricilerden oluşan ekibimizle, benzersiz iş ihtiyaçlarınızı anlamak ve markanızı yansıtan, istediğiniz sonuçları sağlayan özel bir e-ticaret uygulaması oluşturmak için sizinle yakın iletişim kurarak süreci etkili bir şekilde yönetiyoruz. E-ticaret stratejinizi şekillendirmek ve dönüşümlerinizi optimize etmek için sorunsuz ve başarılı bir çevrimiçi alışveriş deneyimi oluşturma konusunda incelikle çalışıyoruz.
                            </p>

                        </div>
                    </div>
                </figure>
            </div>
            <div class="w3-col m6  my-3 ">
                @* <img class="w3-image w3-round-large" src="/images/phone_buildings.jpg" alt="Buildings" width="700" height="394"> *@
                <figure class="ocxservices">
                    <h3 class="svctitle">
                        FİNANSAL UYGULAMALAR
                    </h3>
                    <div class="overlay">
                        <div class="overlay-content" style="color:black ">
                            <h5>
                                <b>
                                    Finansal Süreçlerinizde Verimliliğini Artırın
                                </b>
                            </h5> <br />
                            <p>
                                Özel finans uygulamaları, iş gereksinimlerini dikkate alarak ve somut faydalar sağlayarak şirketlerin finansal süreçlerini dijital olarak dönüştürmelerine yardımcı olur. Bu tür çözümler, finansal muhasebe ve defter tutma, hazine, faturalama ve faturalama, finansal modelleme ve tahmin, gelir tanıma, fiyatlandırma, maliyet kontrolü ve daha fazlasını otomatikleştirir ve optimize eder.
                                Kurumsal finans yazılımları, şirketlerin finansal yönetim ihtiyaçlarına göre uyarlanmış benzersiz, işlevsel ve etkili bir çözümün sunulmasına yardımcı olur. Operasyonel ihtiyaçlarınıza uyacak şekilde özel olarak hazırlanmış güvenli ve uyumlu yazılım çözümleriyle finansın geleceğini şekillendirmek ve finansal süreçlerinizin verimliliğini artırabilmek için buradayız.
                                Son kullanıcılarınızın ihtiyaçlarını karşılayan benzersiz çözümlerin oluşturulmasını garanti eden çevik yazılım geliştirme hizmetlerimizle müşteri ilişkilerinini güçlendirmenizi ve tüketicilerin mali durumlarını kontrol altına alabilmelerini sağlıyoruz.
                            </p>
                        </div>
                    </div>
                </figure>
            </div>
 
            <div class="w3-col m6  my-3">
                @* <img class="w3-image w3-round-large" src="/images/phone_buildings.jpg" alt="Buildings" width="700" height="394"> *@
                <figure class="ocxservices">
                    <h3 class="svctitle">
                        ENDÜSTRİYEL UYGULAMA VE ENTEGRASYONLAR
                    </h3>
                    <div class="overlay" style="color:black ">
                        <div class="overlay-content">
                            <h5>
                                <b>
                                    Kullanım Kolaylığı, İstikrar ve Daha Fazlası
                                </b>
                            </h5>  <br />
                            <p>
                                Özel uygulamalar ve entegrasyonlarla endüstriyel süreçlerinizi optimize etme ve düzene sokma konusunda çözüm ortağınız olarak sizlerle birlikte yol alıyoruz. Yalnızca işlevsel değil, aynı zamanda kullanıcı dostu, ölçeklenebilir ve güvenilir çözümler oluşturmak için en son teknolojileri ve en iyi uygulamaları kullanarak tüm süreçleriyle eksiksiz bir endüstriyel uygulama ve entegrasyon hizmetleri yelpazesi sunuyoruz.
                                İster basit bir veri görselleştirme aracına, ister karmaşık, çok özellikli bir endüstriyel platforma ihtiyacınız olsun, bunu gerçekleştirecek beceri ve deneyime sahibiz. Devam eden destek ve bakım hizmetlerimizle de çözümlerinizin güncel kalmasını ve en iyi performansı göstermesini sağlıyoruz.
                                Yazılım entegrasyonu, güvenilir bir altyapı kullanarak farklı platformlarda çalışan programlar arasındaki iletişimi sağlar. Bu hizmet, ihtiyaca göre veri akışının tek yönlü veya çift yönlü olarak yürütülmesine olanak tanır. İşletmeler için ekstra maliyetleri, işçilik ve zaman kaybını azaltan yazılım entegrasyonu çözümlerini titizlikle yürütüyoruz.
                            </p>

                        </div>
                    </div>
                </figure>
            </div>
            <div class="w3-col m6  my-3 ">
                @* <img class="w3-image w3-round-large" src="/images/phone_buildings.jpg" alt="Buildings" width="700" height="394"> *@
                <figure class="ocxservices">
                    <h3 class="svctitle">
                        KAMU KURUMLARINA YÖNELİK UYGULAMA VE ÇÖZÜMLER
                    </h3>
                    <div class="overlay">
                        <div class="overlay-content" style="color:black ">
                            <h5><b>Akıllı Kamu Servis ve Uygulamaları</b></h5> <br />
                            <p>
                                Kamu kuruluşları için yazılım çözümleri geliştirme konusunda uzmanız. Deneyimli geliştiricilerden oluşan ekibimiz, devlet kurumlarının karşılaştığı benzersiz ihtiyaçlar ve zorluklar hakkında derin bir anlayışa sahiptir ve bu bilgiyi süreçleri kolaylaştıran, verimliliği artıran ve genel üretkenliği iyileştiren özel çözümler oluşturmak için kullanır.
                                Beklentileri karşılayacak yeni ürünler sunmak ya da karşılaşılan karmaşık zorlukları çözmek, hizmet sunmanın yeni yollarını gerektirir. Yazılım çözümlerimiz, kullanıcı dostu ve uygulaması kolay olacak şekilde tasarlanır ve kuruluşunuzun yeni bir sisteme geçişini kolaylaştırır. Ekibinizin, çalışanlarınızın ya da vatandaşların yazılımınızı etkin ve verimli bir şekilde kullanabilmesini sağlamak için kapsamlı eğitim ve destek hizmeti de sunuyoruz.
                                İster mevcut sisteminizi yükseltmek ister sıfırdan yeni bir sistem kurmak isteyin, hedeflerinize ulaşmanıza yardımcı olacak uzmanlığa ve deneyime sahibiz. Güçlü yazılım çözümlerimizle kamu kuruluşunuzun gelişmesine katkı sağlamak için buradayız.
                            </p>
                        </div>
                    </div>
                </figure>
            </div>
 
            <div class="w3-col m6  my-3">
                @* <img class="w3-image w3-round-large" src="/images/phone_buildings.jpg" alt="Buildings" width="700" height="394"> *@
                <figure class="ocxservices">
                    <h3 class="svctitle">
                        WEB3 / BLOCKCHAIN ÇÖZÜMLERİ

                    </h3>
                    <div class="overlay" style="color:black ">
                        <div class="overlay-content">
                            <h5>
                                <b>Yeni Nesil Web Teknolojisi</b>
                            </h5>  <br />
                            <p>
                                İnovasyonu yönlendirmek, yeni iş fırsatları yaratmak, tedarik zinciri yönetimini iyileştirmek, finansal işlemleri kolaylaştırmak veya yeni iş modelleri oluşturmak için Web3 ve Blockchain teknolojisinin gücünden yararlanma konusunda bize güvenebilirsiniz. Deneyimli tasarımcılardan ve geliştiricilerden oluşan ekibimiz, benzersiz ihtiyaçlarınızı anlamak ve Blockchain'in merkezi olmayan, güvenli ve şeffaf doğasından yararlanan özel çözümler oluşturmak için burada.
                                Akıllı sözleşme geliştirme, merkezi olmayan uygulama (DApp) tasarımı ve Blockchain entegrasyonu dahil olmak üzere eksiksiz bir Web3 ve Blockchain hizmetleri yelpazesi sunuyoruz. Yalnızca teknik olarak sağlam değil, aynı zamanda kullanıcı dostu ve iş hedeflerinizle uyumlu çözümler oluşturmak için en son teknolojileri ve en iyi uygulamaları kullanıyoruz.
                                Blockchain çözümlerimiz ölçeklenebilir, güvenli ve son derece uyarlanabilir olacak şekilde tasarlanmıştır ve kuruluşunuzun bunları mevcut sistemlere ve süreçlere entegre etmesini kolaylaştırır. Ekibinizin çözümlerimizi etkin ve verimli bir şekilde kullanabilmesini sağlamak için kapsamlı eğitim ve destek de sunuyoruz.
                            </p>

                        </div>
                    </div>
                </figure>
            </div>
            <div class="w3-col m6  my-3 ">
                @* <img class="w3-image w3-round-large" src="/images/phone_buildings.jpg" alt="Buildings" width="700" height="394"> *@
                <figure class="ocxservices">
                    <h3 class="svctitle">
                        DİJİTAL PAZARLAMA ÇÖZÜMLERİ

                    </h3>
                    <div class="overlay">
                        <div class="overlay-content" style="color:black ">
                            <h5>
                                <b>
                                    Güçlü, Etkili, Yaratıcı
                                </b>
                            </h5> <br />
                            <p>
                                İşletmelerin, markaların ya da bireylerin çevrimiçi varlıklarını güçlendirmek ve hedef kitlelerine ulaşmalarına yardımcı olmak için buradayız. Deneyimli profesyonellerden oluşan ekibimiz, son dijital pazarlama trendleri ve teknolojileri hakkında derin bir anlayışa sahiptir ve bu bilgiyi, sonuç veren özelleştirilmiş pazarlama stratejileri oluşturmak için kullanır.
                                Hizmetlerimiz, arama motoru optimizasyonu (SEO), sosyal medya pazarlaması, tıklama başına ödeme (PPC) reklamcılığı, e-posta pazarlaması ve çok daha fazlasını içerir. Özel ihtiyaçlarını ve hedeflerini anlamak için müşterilerimizle yakın bir şekilde çalışıyoruz ve her kampanyanın başarılı olmasını sağlamak için veriye dayalı yaklaşımlar kullanıyoruz.
                                Çeşitli sosyal medya platformlarının hedef kitlelere ulaşmak ve onlarla etkileşim kurmak için nasıl etkin bir şekilde kullanacağı konusunda etkili bir planlamayla çevrimiçi görünürlüğünüzü artırmak için çalışıyoruz. Strateji geliştirme, içerik oluşturma, topluluk yönetimi ve analitik raporlama gibi sosyal medya yönetimi araçlarını kullanarak hedeflerinize ulaşmanıza yardımcı oluyoruz.


                            </p>
                        </div>
                    </div>
                </figure>
            </div>
 
            <div class="w3-col m6  my-3">
                @* <img class="w3-image w3-round-large" src="/images/phone_buildings.jpg" alt="Buildings" width="700" height="394"> *@
                <figure class="ocxservices">
                    <h3 class="svctitle">
                        KURUMSAL KİMLİK TASARIMI

                    </h3>
                    <div class="overlay" style="color:black ">
                        <div class="overlay-content">
                            <h5>
                                <b>Markanızı Yaşatıyoruz</b>
                            </h5>  <br />
                            <p>
                                Güçlü bir marka bilinci oluşturmak, salt görünümden daha derin bir strateji gerektirir. Kurumsal kimlik tasarımı, ürününüzü, amacınızı ve kişiliğinizi doğru insanlara ulaştırmanın bütünsel yoludur. Bu bütünsel yaklaşımı formüle etmenize yardımcı olmak için buradayız.
                                Size ait ürünler ve hizmetler için size özgü marka karakterleri tasarlıyoruz. İşinizi şekillendiren karmaşık dinamikleri tam olarak anlayabilmek için pazarı ve rakiplerinizi inceleyerek ürün ve hedeflerinizi anlıyor ve size en uygun çözümleri geliştiriyoruz.
                                İşletmelerin kalabalık pazarda öne çıkmasına yardımcı olan çekici marka kimlikleri oluşturma konusunda uzmanız. Marka kimliği tasarım sürecimiz, araştırma, strateji geliştirme ve logolar, tipografi, renk paletleri ve grafik öğeler gibi görsel varlıkların oluşturulmasını içerir. Markanızı yükseltmek ve güçlü, tutarlı bir görsel kimlik oluşturmak istiyorsanız doğru yerdesiniz.
                            </p>

                        </div>
                    </div>
                </figure>
            </div> 
 
        </div>
    </div>

    <!-- Team Section -->
    @* <div class="w3-container" style="padding:128px 16px" id="team">
    <h3 class="w3-center">THE TEAM</h3>
    <p class="w3-center w3-large">The ones who runs this company</p>
    <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
    <div class="w3-col l3 m6 w3-margin-bottom">
    <div class="w3-card">
    <img src="/images/team2.jpg" alt="John" style="width:100%">
    <div class="w3-container">
    <h3>John Doe</h3>
    <p class="w3-opacity">CEO & Founder</p>
    <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
    <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
    </div>
    </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
    <div class="w3-card">
    <img src="/images/team1.jpg" alt="Jane" style="width:100%">
    <div class="w3-container">
    <h3>Anja Doe</h3>
    <p class="w3-opacity">Art Director</p>
    <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
    <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
    </div>
    </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
    <div class="w3-card">
    <img src="/images/team3.jpg" alt="Mike" style="width:100%">
    <div class="w3-container">
    <h3>Mike Ross</h3>
    <p class="w3-opacity">Web Designer</p>
    <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
    <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
    </div>
    </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
    <div class="w3-card">
    <img src="/images/team4.jpg" alt="Dan" style="width:100%">
    <div class="w3-container">
    <h3>Dan Star</h3>
    <p class="w3-opacity">Designer</p>
    <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
    <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
    </div>
    </div>
    </div>
    </div>
    </div> *@

    <!-- Counter'ı başlatacağınız bölüm -->
    <div class="w3-container w3-row w3-center w3-dark-grey w3-padding-64 d-flex justify-content-between counter-section">
        <div class="w3-quarter counter" data-end-value="14">
            <span class="w3-xxlarge">0</span> <span style="font-size:xx-large">+</span>
            <br>Partners
        </div>
        <div class="w3-quarter counter" data-end-value="55">
            <span class="w3-xxlarge">0</span><span style="font-size:xx-large">+</span>
            <br>Projects Done
        </div>
        <div class="w3-quarter counter" data-end-value="89">
            <span class="w3-xxlarge">0</span> <span style="font-size:xx-large">+</span>
            <br>Happy Clients
        </div>
    </div>
         

    <!-- Work Section -->
    <div class="w3-container" style="padding:128px 16px" id="work">
        <h3 class="w3-center">OUR WORK</h3>
        <p class="w3-center w3-large">What we've done for people</p>

        <div class="w3-row-padding" style="margin-top:64px">
            <div class="w3-col l3 m6">
                <img src="/images/tech_mic.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A microphone">
            </div>
            <div class="w3-col l3 m6">
                <img src="/images/tech_phone.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A phone">
            </div>
            <div class="w3-col l3 m6">
                <img src="/images/tech_drone.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A drone">
            </div>
            <div class="w3-col l3 m6">
                <img src="/images/tech_sound.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Soundbox">
            </div>
        </div>

        <div class="w3-row-padding w3-section">
            <div class="w3-col l3 m6">
                <img src="/images/tech_tablet.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A tablet">
            </div>
            <div class="w3-col l3 m6">
                <img src="/images/tech_camera.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A camera">
            </div>
            <div class="w3-col l3 m6">
                <img src="/images/tech_typewriter.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A typewriter">
            </div>
            <div class="w3-col l3 m6">
                <img src="/images/tech_tableturner.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A tableturner">
            </div>
        </div>
    </div>

    <!-- Modal for full size images on click-->
    <div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
        <span class="w3-button w3-xxlarge w3-black w3-padding-large w3-display-topright" title="Close Modal Image">×</span>
        <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
            <img id="img01" class="w3-image">
            <p id="caption" class="w3-opacity w3-large"></p>
        </div>
    </div>

    <!-- Skills Section -->
    <div class="w3-container w3-light-grey w3-padding-64">
        <div class="w3-row-padding">
            <div class="w3-col m6">
                <h3>Our Skills.</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>
                    tempor incididunt ut labore et dolore.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>
                    tempor incididunt ut labore et dolore.
                </p>
            </div>
            <div class="w3-col m6">
                <p class="w3-wide"><i class="fa fa-camera w3-margin-right"></i>Photography</p>
                <div class="w3-grey">
                    <div class="w3-container w3-dark-grey w3-center" style="width:90%">90%</div>
                </div>
                <p class="w3-wide"><i class="fa fa-desktop w3-margin-right"></i>Web Design</p>
                <div class="w3-grey">
                    <div class="w3-container w3-dark-grey w3-center" style="width:85%">85%</div>
                </div>
                <p class="w3-wide"><i class="fa fa-photo w3-margin-right"></i>Photoshop</p>
                <div class="w3-grey">
                    <div class="w3-container w3-dark-grey w3-center" style="width:75%">75%</div>
                </div>
            </div>
        </div>
    </div>
    @*
    <!-- Pricing Section -->
    <div class="w3-container w3-center w3-dark-grey" style="padding:128px 16px" id="pricing">
    <h3>PRICING</h3>
    <p class="w3-large">Choose a pricing plan that fits your needs.</p>
    <div class="w3-row-padding" style="margin-top:64px">
    <div class="w3-third w3-section">
    <ul class="w3-ul w3-white w3-hover-shadow">
    <li class="w3-black w3-xlarge w3-padding-32">Basic</li>
    <li class="w3-padding-16"><b>10GB</b> Storage</li>
    <li class="w3-padding-16"><b>10</b> Emails</li>
    <li class="w3-padding-16"><b>10</b> Domains</li>
    <li class="w3-padding-16"><b>Endless</b> Support</li>
    <li class="w3-padding-16">
    <h2 class="w3-wide">$ 10</h2>
    <span class="w3-opacity">per month</span>
    </li>
    <li class="w3-light-grey w3-padding-24">
    <button class="w3-button w3-black w3-padding-large">Sign Up</button>
    </li>
    </ul>
    </div>
    <div class="w3-third">
    <ul class="w3-ul w3-white w3-hover-shadow">
    <li class="w3-red w3-xlarge w3-padding-48">Pro</li>
    <li class="w3-padding-16"><b>25GB</b> Storage</li>
    <li class="w3-padding-16"><b>25</b> Emails</li>
    <li class="w3-padding-16"><b>25</b> Domains</li>
    <li class="w3-padding-16"><b>Endless</b> Support</li>
    <li class="w3-padding-16">
    <h2 class="w3-wide">$ 25</h2>
    <span class="w3-opacity">per month</span>
    </li>
    <li class="w3-light-grey w3-padding-24">
    <button class="w3-button w3-black w3-padding-large">Sign Up</button>
    </li>
    </ul>
    </div>
    <div class="w3-third w3-section">
    <ul class="w3-ul w3-white w3-hover-shadow">
    <li class="w3-black w3-xlarge w3-padding-32">Premium</li>
    <li class="w3-padding-16"><b>50GB</b> Storage</li>
    <li class="w3-padding-16"><b>50</b> Emails</li>
    <li class="w3-padding-16"><b>50</b> Domains</li>
    <li class="w3-padding-16"><b>Endless</b> Support</li>
    <li class="w3-padding-16">
    <h2 class="w3-wide">$ 50</h2>
    <span class="w3-opacity">per month</span>
    </li>
    <li class="w3-light-grey w3-padding-24">
    <button class="w3-button w3-black w3-padding-large">Sign Up</button>
    </li>
    </ul>
    </div>
    </div>
    </div> *@

    <!-- Contact Section -->
    <div class="w3-container w3-light-grey" style="padding:128px 16px" id="contact">
        <h3 class="w3-center">CONTACT</h3>
        <p class="w3-center w3-large">Lets get in touch. Send us a message:</p>
        <div style="margin-top:48px">
            <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Chicago, US</p>
            <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: +00 151515</p>
            <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: mail@mail.com</p>
            <br>
            <form action="/action_page.php" target="_blank">
                <p><input class="w3-input w3-border" type="text" placeholder="Name" required name="Name"></p>
                <p><input class="w3-input w3-border" type="text" placeholder="Email" required name="Email"></p>
                <p><input class="w3-input w3-border" type="text" placeholder="Subject" required name="Subject"></p>
                <p><input class="w3-input w3-border" type="text" placeholder="Message" required name="Message"></p>
                <p>
                    <button class="w3-button w3-black" type="submit">
                        <i class="fa fa-paper-plane"></i> SEND MESSAGE
                    </button>
                </p>
            </form>
            <!-- Image of location/map -->
            <img src="/images/map.jpg" class="w3-image w3-greyscale" style="width:100%;margin-top:48px">
        </div>
    </div>

    <!-- Footer -->
    <footer class="w3-center w3-black w3-padding-64">
        <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
        <div class="w3-xlarge w3-section">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div>
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
    </footer>

    <script>
        // Modal Image Gallery
        function onClick(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
            var captionText = document.getElementById("caption");
            captionText.innerHTML = element.alt;
        }


        // Toggle between showing and hiding the sidebar when clicking the menu icon
        var mySidebar = document.getElementById("mySidebar");

        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
            } else {
                mySidebar.style.display = 'block';
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
        }
    </script>

</body>
</html>
<script>
    // Sayfa yüklendiğinde çalışacak kodlar
    $(function () {

        $(".ocxservices").on("mouseleave", function () {
            $(this).find(".svctitle").show();

        });
        $(".ocxservices").on("mouseenter", function () {
            $(this).find(".svctitle").hide();
            $(this).find(".overlay").show();

        });
         
    });



</script>
<script>
    $(document).ready(function () {
        // Sayfa her kaydırıldığında kontrol et ve counter'ı başlat
        function checkCounters() {
            $(".counter").each(function () {
                if (isElementInViewport(this)) {
                    startCounter($(this));
                }
            });
        }

        // Sayfa her kaydırıldığında kontrol et
        $(document).on('scroll', checkCounters);

        // Sayıları artırmak için bir fonksiyon oluşturun
        function startCounter(element) {
            var endValue = parseInt(element.data("end-value"));
            var counterSpan = element.find(".w3-xxlarge");
            var currentValue = 0;

            $({ counter: currentValue }).animate(
                {
                    counter: endValue
                },
                {
                    duration: 3000, // Animasyon süresi (milisaniye cinsinden)
                    easing: 'swing', // Animasyon türü
                    step: function () {
                        // Sayıları güncelle
                        counterSpan.text(Math.ceil(this.counter));
                    }
                }
            );
        }

        // Sayfanın görünür kısmını kontrol etmek için bir fonksiyon
        function isElementInViewport(el) {
            var rect = el.getBoundingClientRect();
            return (
                rect.top >= 0 &&
                rect.left >= 0 &&
                rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
                rect.right <= (window.innerWidth || document.documentElement.clientWidth)
            );
        }
    });
</script>